@import '../styling/colours.less';
@import '../styling/fonts.less';

.Ability {
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 12px;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.Ability__name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: @font-24;
}

.Ability__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 8px;
}

.Ability__score {
  text-align: center;
}

.Ability__scoreLabel {
  font-size: @font-10;
  color: @input-label-colour;
}

.AbilityScore {
  font-size: @font-36;
  text-align: center;
}

.Ability__modifier {
  font-size: @font-21;
}

.Ability__modifierLabel {
  color: @input-label-colour;
  font-size: @font-10;
}

@media all and (max-width: 1050px) {
  .Ability__content {
    display: flex;
    flex-direction: column;
  }

  .Ability__score {
    margin-bottom: 6px;
  }
}
