@import '../styling/fonts.less';

.Ability {
  height: 170px;
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 12px;
}

.AbilityName {
  text-align: center;
  margin-top: 6px;
  font-size: @font-24;
}

.AbilityContent {
  display: flex;
  margin-top: 8px;
}

.Ability--left {
  display: block;
  width: 30%;
  text-align: center;
}

.AbilityScore {
  font-size: @font-36;
  text-align: center;
}

.AbilityModifier {
  font-size: 21px;
}

.Ability--right {
  width: 70%;
}
