@import '../styling/colours.less';
@import '../styling/fonts.less';

.Character {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

#characterLevel {
  font-size: @font-24;
}

#characterExperience {
  font-size: @font-24;
}

.Character__name {
  margin: 20px 40px 9px;
}

.Character--bottom {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.Character--left {
  display: flex;
  flex-direction: column;
}

.Character--right {
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1175px) {
  .Character {
  }

  .Character--bottom {
    display: flex;
    flex-direction: column;
  }

  #characterLevel {
    font-size: @font-18;
  }

  #characterExperience {
    font-size: @font-18;
  }
}
