@import '../styling/spacing.less';

.Combat {
  margin-top: 15px;
  border: 1px solid black;
}

.Combat--table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.Combat--tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.Combat--box {
  border: 1px solid black;
}

.Combat--td-large {
  width: 45%;
}

.Combat--td-small {
  width: 20%;
}

.Combat--td-larger {
  width: 50%;
}

.Combat--td-largest {
  width: 75%;
}

.Combat--col {
  display: flex;
  flex-direction: column;
}

.Combat--top-large {
  width: 100%;
  height: 100%;
}

.Combat__deathSaves {
  display: flex;
  justify-content: space-between;
}

.Combat__label {
  text-align: center;
}

.Combat--row {
  display: flex;
}

.Combat--mid-space {
  margin-bottom: 6px;
}

.Combat__inspiration {
  display: flex;
  align-items: center;
}

.Combat__input input {
  text-align: center;
  font-size: @larger-font;
  width: 97%;
}

.Combat__hitPoints {
  height: 100%;
}
