@import '../styling/fonts.less';

.Combat {
  margin-top: 15px;
  border: 1px solid black;
}

.Combat--table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.Combat--tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.Combat--box {
  border: 1px solid black;
}

.Combat--td-large {
  width: 35%;
}

.Combat--td-small {
  width: 20%;
}

.Combat--td-larger {
  width: 50%;
}

.Combat--td-largest {
  width: 75%;
}

.Combat--col {
  display: flex;
  flex-direction: column;
}

.Combat--top-large {
  width: 100%;
  height: 100%;
}

.Combat__deathSaves {
  display: flex;
  justify-content: space-between;
}

.Combat__deathSavesLabels {
  margin-left: 6px;
}

.Combat__deathSavesCheckboxes {
  margin-right: 6px;
}

.Combat__label {
  text-align: center;
}

.Combat--row {
  display: flex;
}

.Combat--mid-space {
  margin-bottom: 6px;
}

.Combat__inspiration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Combat__inspirationCheckbox {
  height: 100%;
  top: 50%;
}

.Combat__input--larger {
  text-align: center;
  font-size: @font-36;
}

.Combat__speed {
  top: 50%;
  height: 100%;
}

.Combat__hitPoints {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Combat__hitPointsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 6px;
}

.Combat__hitPointsBtn {
  cursor: pointer;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.Combat__hitPointsTotal {
  display: flex;
  font-size: @font-18;
  width: 90%;
  align-self: center;
  margin-bottom: 6px;
}

.Combat__hitPointsTotal input {
  margin-left: 6px;
  font-size: @font-18;
  overflow: hidden;
}

.Combat__input--largest {
  text-align: center;
  font-size: @font-72;
}
