.Main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100%;
}

.Main__abilities {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.Main__details {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

@media all and (max-width: 1175px) {
  .Main {
    display: flex;
    flex-direction: column;
  }

  .Main__abilities {
    display: flex;
    order: 1;
  }

  .Main__details {
    order: 2;
    grid-template-columns: 1fr 3fr;

    // hack fix
    height: 1%;
  }
}
