.Main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100%;
  //height: calc(100% - 70px);
  //height: -moz-calc(100% - 70px);
  //height: -webkit-calc(100% - 70px);
}

.Main__abilities {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.Main__details {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
