@import '../styling/colours.less';
@import '../styling/fonts.less';

.LabelledInput {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.LabelledInput__label {
  font-size: @font-12;
  color: @input-label-colour;
}

.LabelledInput__text {
  font-size: @font-24;
}
